<% layout('layouts/boilerplate') -%>
    <div class="container card ">
        <div class="row p-3 g-3">
            <% meetings.sort((a, b) => a.start < b.start ? -1 : (a.start > b.start ? 1 : 0)) %>
            <% for(meeting of meetings) {%>
                <%const
                    date=meeting.start.getFullYear()+'/'+String(meeting.start.getMonth()+1).padStart(2,'0')+'/'+String(meeting.start.getDate()).padStart(2,'0')%>
                    <%const
                        startTime=String(meeting.start.getHours()).padStart(2,'0')+':'+String(meeting.start.getMinutes()).padStart(2,'0')%>
                        <%const
                            endTime=String(meeting.end.getHours()).padStart(2,'0')+':'+String(meeting.end.getMinutes()).padStart(2,'0')%>
                            <div class="col-lg-4">
                                <div class="card m-2">
                                <div class="row">
                                    <div class="col-lg-10 text-center align-items-center border-end">
                                        <h3>
                                            <%= meeting.name%> @ <a href="/groups/<%=meeting.group._id%>" class="text-decoration-none"><%= meeting.group.name%></a>
                                        </h3>
                                        <h5>
                                            <% if(meeting.location.type == 'Point') {%>
                                                <span class="badge rounded-pill bg-success">In Person</span><% }else{ %> <span class="badge rounded-pill bg-primary">Online</span> <% }%>
                                            <% const now = new Date() %>
                                            <% if(meeting.start.getFullYear() == now.getFullYear() && meeting.start.getMonth() == now.getMonth() && meeting.start.getDate() == now.getDate()) { %>
                                                <span class="badge rounded-pill bg-danger">Today</span>
                                            <%} %>
                                        </h5>
                                        <h6>
                                            <strong>
                                                <%= date%>
                                            </strong> From <strong>
                                                <%=startTime%>
                                            </strong> to <strong>
                                                <%=endTime%>
                                            </strong>
                                        </h6>
                                        
                                    </div>
                                    <div class="col-lg-2 align-self-center text-start">
                                        <a class="btn meeting-view-btn align-items-center"
                                            href="/meetings/<%=meeting._id%>"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <% } %>
                                <hr>
                                <div class="row text-center py-3">
                                    <div class="header-btn">
                                        <a href="/groups" class="theme-btn text-decoration-none">Goto Groups</a>
                                    </div>
                                </div>
        </div>