<% layout('layouts/boilerplate') -%>

  <div class="col-md-5 pr-lg-5 mb-5 mb-md-0 align-items-center">
  </div>

  <h1>Edit Settings:</h1>
  <form action="/students/settings/<%= signedInUser._id %>/edit?_method=PUT" method="POST">
    <div class="container">
      <div class="col-md-7 col-lg-6 ml-auto">
        <div class="row">
          <div class="col">
            <h3>Email</h3>
            <div class="input-group col-lg-12 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-envelope py-2 mb-1 text-muted"></i>
                </span>
              </div>
              <input id="email" type="email" name="email" placeholder="Email Address" value="<%- signedInUser.email %>"
                class="form-control bg-white border-left-0 border-md" required>
                <div class="invalid-feedback" id="usernameFeedback">       
                  Invalid Username/Username Taken
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h3>Username</h3>
            <div class="input-group col-lg-6 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-user py-2 mb-1 text-muted"></i>
                </span>
              </div>
              <input id="userName" type="text" name="username" placeholder="Username"
                value="<%- signedInUser.username %>" class="form-control bg-white border-left-0 border-md" required>
                <div class="invalid-feedback" id="usernameFeedback">       
                  Invalid Username/Username Taken
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h3>Address</h3>
            <div class="input-group col-lg-6 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-home py-2 mb-1 text-muted"></i>
                </span>
              </div>
              <input id="address1" type="text" name="location" placeholder="Address Line 1"
                value="<%- signedInUser.location %>" class="form-control bg-white border-left-0 border-md" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Searchable:</h3>
            <div class="input-group col-lg-6 mb-4">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="isSearchable" value="true" name="isSearchable" 
                <% if(signedInUser.settings.isSearchable) { %>
                <%= "checked" %>
                  <% } %>
                    >
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-12 mx-auto mb-2 d-grid">
          <button class="btn btn-primary btn-block py-2 mb-1 " type="submit" id="save">
            <span class="font-weight-bold">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>

<script>
  const allStudents = <%- JSON.stringify(allStudents) %>
  const signedInUser = <%- JSON.stringify(signedInUser) %>
</script>

<script src="/js/settingsValidate.js"></script>
<script src="/js/validate.js"></script>