<% layout('layouts/boilerplate') -%>

  <div class="container">
    <h1>Settings:</h1>
    <div class="row">
      <div class="col">
        <h3>Email</h3>
        <span>
          <%= signedInUser.email %>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Username</h3>
        <span>
          <%= signedInUser.username %>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Address</h3>
        <span>
          <%= signedInUser.location %>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Searchable:</h3>
        <span>
          <%= signedInUser.settings.isSearchable %>
        </span>
      </div>
    </div>

    <form action="/students/settings/<%=signedInUser._id%>/edit" method="get">
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>