<header class="p-3 mb-3 border-bottom navbar-area">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
      <nav class="navbar navbar-expand-lg">
        <a href="/"
          class="brighten navbar-brand d-flex align-items-center col-lg-1 mb-2 mb-lg-0 link-dark text-decoration-none">
          <img src="assets/brainWhite.svg" alt="" height="40">
        </a>
        <ul id="nav" class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="text-decoration-none" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="text-decoration-none" href="/groups">Groups</a>
          </li>
          <li class="nav-item">
            <a class="text-decoration-none" href="/meetings">Meetings</a>
          </li>
          <li class="nav-item">
            <a class="text-decoration-none" href="/links">Links</a>
          </li>

        </ul>

        <form action="\search" method="GET" class="d-flex ms-auto">
          <input class="form-control" type="search" placeholder="Search" name="search" aria-label="Search">
          <button class="btn py-2 text-center align-items-center search-button me-4" type="submit" value="Search"><i class="bi bi-search search-icon"></i></button>
        </form>
        <ul class="navbar-nav">
          <% if(signedInUser) { %>

            <li class="nav-item">
              <div class="dropdown text-end profile-logo">
                <a href="#" class="d-flex text-decoration-none" id="dropdownUser1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <%- include('profilePicture', {student:signedInUser, width: 50, height: 50}) -%>
                  <span class=" dropdown-toggle dropdown-triangle"></span>
                </a>

                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                  <li class="dropdown-item"><strong>Hi <%= signedInUser.firstName%>!</strong></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <% const numNotifications=signedInUser.invites.length + signedInUser.polls.length%>
                    <li><a class="dropdown-item" href="/notifications">Notifications <% if(numNotifications>0) {%>
                          <span class="badge notification-link">
                            <%= numNotifications %>
                          </span>
                          <%} %></a></li>
                    <li><a class="dropdown-item" href="/groups">Groups</a></li>
                    <li><a class="dropdown-item" href="/students/profile/<%=signedInUser._id%>">Profile</a></li>
                    <li><a class="dropdown-item" href="/survey">Covid Survey</a></li>
                    <li><a class="dropdown-item" href="https://www.logbox.co.za/#/">LogBox</a></li>
                    <li><a class="dropdown-item" href="/students/settings/<%=signedInUser._id%>">Settings</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/students/logout">Sign out</a></li>
                </ul>
                <% if(numNotifications > 0) {%>
                  <span class="badge notification">
                    <%= numNotifications %>
                  </span>
                <% } %>
              </div>
            </li>
            <% } else { %>
              <li class="nav-item"><a href="/students/login" class="nav-link navbar-text px-2">Login</a></li>
              <li class="nav-item"><a href="/students/register" class="nav-link navbar-text px-2">Sign up</a></li>
              <% } %>
        </ul>
    </div>
    </nav>
  </div>
  </div>
</header>