<div class="card px-5 py-2 mb-3">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="card-title text-center"> Vote to <%= poll.action %> @<%= poll.affected.username %>
            </h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <% if(!poll.voted.includes(signedInUser._id)) { %>
            <form action="/polls/<%= poll._id %>/yes" method="POST" class="col-lg-6 text-center">
                <button class="btn poll-yes"><i class="fas fa-check"></i></button>
            </form>
            <form action="/polls/<%= poll._id %>/no" method="POST" class="col-lg-6 text-center">
                <button class="btn poll-no"><i class="fas fa-times"></i></button>
            </form>
            <% } else { %>
                <div class="col-lg-4 text-center">
                    <p>Yes: <%= poll.votes.yes %>
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <p>No: <%= poll.votes.no %>
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <p>Total: <%= poll.votes.yes + poll.votes.no %>/<%= poll.members.length %>
                    </p>
                </div>
                <% } %>
    </div>
</div>