<div class="circle align-items-center" style="width: <%=width%>px;height: <%=height%>px; font-size: <%=height/2.5%>px;">	
    <%= student.firstName[0].toUpperCase() %><%= student.lastName[0].toUpperCase() %>
</div>
