<% layout('layouts/boilerplate') -%>
    <div class="container card">
        <% if(total==0){%>
            <h1>No results for: <strong>"<%= userSearched%>"</strong></h1>
            <%}else{%>
                <h1><strong>
                        <%= total%>
                    </strong> result<% if(total>1){%>s<%}%> found for: <strong>"<%= userSearched%>"</strong></h1>
                    <hr>
                    <% if(foundGroups.length> 0) { %>
                        <div class="row">
                            <h3>Groups with name <strong>"<%= userSearched%>"</strong> in their name (<%= foundGroups.length%>)</h3>
                            <% for(group of foundGroups) { %> 
                                <%- include('partials/groupCard.ejs', {group:group}) %>
                            <%}%>
                        </div>
                        <hr>
                    <%}%>
                    <% if(groupsWithTags.length > 0) { %>
                        <h3>Groups with <strong>"<%= userSearched%>"</strong> in their tags (<%= groupsWithTags.length%>)</h3>
                        <div class="row">
                            <% for (let group of groupsWithTags){%>
                                <%-include('partials/groupCard.ejs', {group:group}) %>
                            <% } %>
                        </div>
                        <hr>
                    <%}%>
                    <% if(foundStudents.length > 0) { %>
                        <h3>Students with <strong>"<%= userSearched%>"</strong> in their name (<%= foundStudents.length%>)</h3>
                        <div class="row">
                            <% for (let student of foundStudents){%>
                                <div class="col-lg-6 ">
                                    <div class="d-flex flex-row m-3 p-3 card align-items-center">
                                        <div class="me-2">
                                            <img src="/assets/default_pp.jpg" alt="mdo" width="50" height="50"
                                                class="rounded-circle">
                                        </div>
                                        <a href="\students\profile\<%=student._id%>" class="link-dark profile-link"><%= `${student.firstName} ${student.lastName} ` %>  <% if(student._id.equals(signedInUser._id)) {%>
                                                (you)
                                            <%}%> - 
                                            <span class="text-muted">@<%=student.username %></span>
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <hr>
                    <%}%>
                <%}%>

    </div>