<% layout('layouts/boilerplate') -%>


  <div class='container'>
    <h1>Links</h1>
    <p>View all links from groups you are a member of</p>
    <a class='header-btn theme-btn text-decoration-none' href="links/new">Add New Link</a>

    <hr>

    <div class="row ">
      <!-- Slice and reverse just makes most recent links appear first -->
      <% links.slice().reverse().forEach(function(link){ %>
        <!-- list only links from group signed in user is a part of -->
        <% if(signedInUser.groups.includes(link.group._id)) { %>
          <div class="col-lg-3 card  me-2 py-2">
            <div class="link-header">
              <h4>
                <%= link.name %>
              </h4>
              <strong>posted by user <%= link.user.username%>
              </strong>
              <i>in group <%=link.group.name%>
              </i>
            </div>
            <div>
              <p>
                <%= link.notes %>
              </p>
            </div>
            <hr>
            <a href="<%= link.url %>" target="_blank" class="text-decoration-none">
              <% if(link.link_data.image) { %>
                <img src="<%= link.link_data.image %>" class="link_img">
                <% } else {%>
                  <img src="assets/image-not-found.png" class="link_img">
                  <% } %>
                    <strong class="link-title text-left">
                      <% if(link.link_data.title) { %>

                        <%= link.link_data.title %>

                          <% } else {%>
                            No Title
                            <% } %>
                    </strong>
                    <p class="link-title text-left">
                      <% if(link.link_data.description) { %>

                        <%= link.link_data.description %>

                          <% }%>
                    </p>
            </a>
          </div>
          <% } %>
            <% }); %>
    </div>
  </div>