<% layout('layouts/boilerplate') -%>
<div class="container">
    <h1>All Groups</h1>
    <div>
        <a class="btn btn-primary" href="/groups/new"> New </a>
    </div>
    
    <% for (let group of groups){%>
    <div class="card mb-3">
        <h4><%= group.name %></h4>
        <% for (var i = 0; i < group.members.length; i++) { %>
            <li> <%= group.members[i].username%> </li>
        <% } %>
        <div>
            <a class="btn btn-primary" href="/groups/<%=group._id%>"> Edit </a>
        </div>
        
    </div>

    <% }%>

    <% if(randomGroup) {%>
    
        <h2>Suggested Group: </h2>
        <div class="card mb-3">
            <h4><%= randomGroup.name %></h4>
            <% for (var i = 0; i < randomGroup.members.length; i++) { %>
                <li> <%= randomGroup.members[i].username%> </li>
            <% } %>
            <div>
                <a class="btn btn-primary" href="#"> Request to join </a>
            </div>
            
        </div>
    <% } %>
</div>
