<%- include('../partials/header')%> 
<div class="container">
    <h1>All Groups</h1>
    <div>
        <a class="btn btn-primary" href="/groups/new"> New </a>
    </div>
    
    <% for (let group of groups){%>
    <div class="card mb-3">
        <h4><%= group.name %></h4>
        <% for (var i = 0; i < group.members.length; i++) { %>
            <li> <%= group.members[i]%> </li>
        <% } %>
        <div>
            <a class="btn btn-primary" href="/groups/<%=group._id%>"> Edit </a>
        </div>
        
    </div>

    <% }%>
</div>

<%- include('../partials/footer')%> 