<%- include ('../partials/header') %> 
<div class="container">
    <h1>All Groups</h1>
    
    <div class="card mb-3">
        <h4><%= group.name %></h4>
        <% for (var i = 0; i < group.members.length; i++) { %>
            <li> <%= group.members[i]%> <a class="btn btn-primary" href=""> Remove </a></li>
        <% } %>
        
    </div>
    <form class="d-inline" action="/groups/<%=group._id%>?_method=POST" method="POST">
        <button>Delete Group</button>
    </form>

</div>

<%- include ('../partials/footer') %> 