<% layout('layouts/boilerplate') -%>
    <div class="container">

        <div class="card mb-3">
            <h4>
                <%= group.name %>
            </h4>
            <h5>Group members</h5>
            <% for (var i=0; i < group.members.length; i++) { %>
                <li>
                    <%= `${group.members[i].firstName} ${group.members[i].lastName} ` %>
                        <form class="d-inline"
                            action="/polls/<%=group._id%>/Remove/<%=group.members[i]._id%>" method="POST" method="POST">
                            <button>Remove</button>
                        </form>
                        <% const raters=(group.members[i].rating.map(e=> e.rater)) %>
                            <% if(signedInUser && !group.members[i]._id.equals(signedInUser._id) &&
                                !raters.includes(signedInUser._id)) { %>
                                <form action="/students/vote/<%=group.members[i]._id%>/" method="POST"
                                    class="w-25 p-3 d-inline-flex">
                                    <input type="number" name="rating" id="rating" class="form-control" max="5" min="0">
                                    <button class="btn btn-primary">Rate</button>
                                </form>
                                <% } %>
                </li>
                <% } %>
                <h5>Pending invites</h5>
                <% for (var i=0; i < group.invites.length; i++) { %>
                    <li>
                        <%= group.invites[i]%>
                    </li>
                <% } %>

                <div>
                    <a class="btn btn-primary" href="/groups/<%=group._id%>/explore"> Invite new members
                    </a>
                </div>
        </div>
        <% for (let poll of groupPolls){%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title"> Vote to <%= poll.action %> @<%= poll.affected.username %> to <%= poll.group.name %></h5>
                            <% if(!poll.voted.includes(signedInUser._id)) { %> 
                                <form action="/polls/<%= poll._id %>/yes" method="POST">
                                <button class="btn btn-success">Yes</button>
                                </form>
                                <form action="/polls/<%= poll._id %>/no" method="POST">
                                <button class="btn btn-danger">No</button>
                                </form>
                                <% } else { %> 
                                <p>Yes: <%= poll.votes.yes %> </p>
                                <p>No: <%= poll.votes.no %> </p>
                                <p>Total: <%= poll.votes.yes + poll.votes.no %>/<%= poll.members.length %></p>
                                <% } %> 
                        </div>
                    </div>
                </div>
            </div>
        <% }%>
        <form class="d-inline" action="/groups/<%=group._id%>?_method=DELETE" method="POST">
            <button>Delete Group</button>
        </form>

    </div>